<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/script.js" defer></script>
    <script src="https://kit.fontawesome.com/bc646250ca.js" crossorigin="anonymous"></script> <!-- logo linki-->
</head>
<body>
    <h1 style="text-align: center;">Welcome to the Chatbot</h1>
    <p style="text-align: center;">
        <div><i id="ferry_logo" class="fa-solid fa-ferry"></i></div>
        <div><button id="New_Chat" class="New_Chat_Top_Left">New Chat</button></div>
        <div><button id="Sign_Up" class="Sign_Up_Top_Right">Sign Up</button></div>
        <div><button id="Sign_In" class="Sign_In_Top_Right">Sign In</button></div>
        <div><button id="Light_Modes" class="Light_Modes_Bottom_Left">Light Modes</button></div>
    </p>
</body>
</html>
