<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/script.js" defer></script>
    <script src="https://kit.fontawesome.com/bc646250ca.js" crossorigin="anonymous"></script> <!-- logo linki-->
    
    <title>Users Profile</title>
</head>
<body>
    <h1 style= "text-align: center;">Users Main Page </h1>
    <p style="text-align: center;">
        <div>
        <i id="ferry_logo" class="fa-solid fa-ferry"></i>
        </div>
        <div><button id="New_Chat" class="New_Chat_Top_Left">New Chat</button></div>
        <div><button id="Light_Modes" class="Light_Modes_Bottom_Left">Light Modes</button></div>
        <div><button id="Log_Out" class="Sign_In_Top_Right">Log Out</button></div>

    </p>

</body>
</html>